@import "../styles/variables.scss";
@import '../styles/mixins.scss';

.planning-list {

  margin-top: 200px;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;

  &--title {
    font-family: $main-font;
    color: $green;
    font-size: 2em;
  }

  &--container {
    @include card-border;
    padding: 10px;
    margin-top: 1em;
  }
}