@import "../styles/variables.scss";

nav {
	position: fixed;
  z-index: 9999;
	top: 0;
	left: 0;
	width: 100%;
	background: $yellow;
	padding: 0.5vw 0.5vw;
	height: 3em;
	display: flex;
	align-items: center;
  justify-content: flex-end;
}
.nav-logo {
  font-family: $logo-font;
  font-size: 2.2em;
  font-weight: bold;
  color: $red;
  padding-right: 0.4em;
  padding-left: 0.2em;
  padding-bottom: 0.1em;
  text-decoration: none;
}

.drop-down {
  color: $green;
  font-size: 1.5em;
  margin-right: 10px;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  color: $green;
  position: absolute;
  right: 0;
  font-size: 2em;
  padding: 0.5em 0.7em;
  align-self: flex-end;
}

.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */   
  height: 0;
  width: 100%;
  
  position: fixed; /* Stay in place */
  left: 0;
  top: 0;
  background-color: $yellow; /* Black fallback color */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */

  &-header {
    display: flex;
    flex-direction: column;

    &--logo {
      font-family: $logo-font;
      font-weight: bold;
      margin-top: 0;
      font-size: 5em;
      color: $red;
      margin-left: 10vw;
    }
  }
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  left: 15%;
  width: 100%; /* 100% width */
  text-align: left; /* Centered text/links */

  a {
    text-decoration: none
  }
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 1em;
  text-decoration: none;
  font-size: 1.5em;
  color:white;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */

  &:hover, :focus {
    color: $green;
  }
}

.search-bar {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;

  &--style {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    
    padding: 0;
    width: 100%;
    height: 2em;
    background: $yellow;
    outline: none;
    border: solid;
    border-color: $yellow;
    border-width: 3px;
    border-radius: 1.6em;
    padding: 0 1em 0 1.5em;
    font-size: 1em;
    box-shadow: 1px 1px 5px #999;
    margin-right: 1vw;
  }


  &--input {
    padding: 0;
    width: 100%;
    height: 2em;
    background: $yellow;
    outline: none;
    border: solid;
    border-color: $yellow;
    
    display: flex;
    flex-direction: row;

    &--button {

      background: none;
      border: none;
      outline: none;
      font-size: 1.5em;
      color: $green;
    }
  }

  .user-avatar {

    background-color: $yellow;
    color: white;
    font-weight: bolder;
    margin-right: 1vw;
    border-radius: 50%;
    height: 35px;
    width: 35px;

  }
}

#home-page-logo {
  font-weight: bold;
  font-size: 100px;
  flex-basis: 100%;
  text-align: center;
  margin-right: 30px;
  margin-top: -150px;
  margin-left: 0;
  margin-bottom: 15px;
}

.nav-bar {
  flex-wrap: wrap;
  padding-top: 150px;
  background-color: $yellow;
  background-image: url("https://www.transparenttextures.com/patterns/tree-bark.png");
  align-items: center;
}