@import "../styles/variables.scss";

.planning-list {
  margin-top: 230px;
  text-align: center;

  &--title {
    font-family: $main-font;
    color: $green;
    font-size: 2em;
  }

  &--container {
    padding: 10px;
    margin-top: 1em;
  }
}