@import '../styles/mixins.scss';
@import '../styles/variables.scss';

.planning-list {
  margin-top: 400px;
  text-align: center;

  &--title {
    font-family: $main-font;
    color: $green;
    font-size: 2em;
  }

  &--container {
    padding: 10px;
    margin-top: 1em;
  }
}

.planning-item {
  @include card-border;
  width: 100%;
  margin-bottom: 10px;
  font-family: $main-font;

  img {
    width: 40%;
    object-fit: cover;
  }

  &:hover {
    box-shadow: 1px 1px 5px #999;
  }

  &--footer {
    font-size: 11px;
    padding-bottom: 1em;
    justify-content: center;
  }

  &--description {
    text-align: left;
    padding-left: 1em;
    padding-right: 0.5em;
  }
  
}
